.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
  }
  
  .card-body {
    padding: 20px;
    background-color: white;
    border: black;
    margin-left: 17%;

  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-color: black;
  }
  
  .table th, .table td {
    text-align: center;
   
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .btn {
    margin-right: 5px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .pagination-controls {
    margin-top: 20px;
  }

.containers{
 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;

}

//  td {
//   text-align: center;
 
//   text-decoration: solid;
//   font-variant-caps: petite-caps;
//   -webkit-text-stroke: medium;
// }
// th{
//   text-align: center;

//   font-variant-caps: petite-caps;
//   -webkit-text-stroke: medium;
// }