<div class="card-body">
    <div class="month">
        <select (change)="selectMonth($event)">
            <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
        </select>
    </div>

    <div class="year">
        <select (change)="selectYear($event)">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th *ngFor="let date of dates">{{date}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{ emp.emp_name }}</td>
                <ng-container *ngFor="let date of dates">
                    <td>
                        <ng-container *ngFor="let att of attends">
                            <span *ngIf="att.emp_id == emp.emp_id && att.date==date">
                                {{ att.entry_time }}<br>
                                {{att.exit_time}}
                            </span>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>