<div class="container">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Exit Time</label>
          <input type="text" [(ngModel)]="attends.exit_time" 
            class="form-control" 
            id="exit_time" 
            name="exit_time" 
            placeholder="Enter your exit time"
            required #name="ngModel">
            <div [hidden]="!name.pristine" class="alert alert-danger">Exit Time is required</div>
        </div>
        <div class="form-group">
          <label for="attendanceId">Attendence ID:</label>
          <input type="text" id="attendanceId" [(ngModel)]="attends.attendanceId" name="attendanceId" class="form-control">
        </div>
        
  

        <button type="submit" [disabled]="!userForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  
</div>
