<!-- 
<div class="card-body">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="date">
      <div class="form-group">
        <label for="name">Date</label>
        <input type="date" [(ngModel)]="attend.date" class="form-control" id="date" name="date" placeholder="Enter Date">
      </div>
    </div>    
    <button class="leave" (click)="onLeaveClick()" >Leave</button>

    <div class="form-group">
      <label for="team">Select Employee:</label>
      <select class="form-control" id="emp_id" name="emp_id" [(ngModel)]="employees.emp_id" required>
        <option *ngFor="let emp of employee" [ngValue]="emp.emp_id">{{ emp.emp_name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Entry Time</label>
      <input type="text" [(ngModel)]="attend.entry_time" class="form-control" id="entry_time" name="entry_time" placeholder="Enter your entry time" [disabled]="leaveClicked">
    </div>

    <div class="form-group">
      <label for="name">Exit Time</label>
      <input type="text" [(ngModel)]="attend.exit_time" class="form-control" id="exit_time" name="exit_time" placeholder="Enter your Exit time" [disabled]="leaveClicked">
    </div>

    <button type="submit" [disabled]=" !userForm.form.valid" class="btn btn-info">Submit</button>
  </form>
</div> -->

<div class="card-body">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="date">
      <div class="form-group">
        <label for="name">Date</label>
        <input type="date" [(ngModel)]="attend.date" class="form-control" id="date" name="date" placeholder="Enter Date">
      </div>
    </div>    

  
    <div class="form-group">
      <label>Leave Type:</label>
      <div>
        <label><input type="radio" (click)="onLeaveClick()" value="sick">Leave</label>
      </div>
    </div>

    <div class="form-group">
      <label for="team">Select Employee:</label>
      <select class="form-control" id="emp_id" name="emp_id" [(ngModel)]="employees.emp_id" required>
        <option *ngFor="let emp of employee" [ngValue]="emp.emp_id">{{ emp.emp_name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Entry Time</label>
      <input type="text" [(ngModel)]="attend.entry_time" class="form-control" id="entry_time" name="entry_time" placeholder="Enter your entry time" [disabled]="leaveClicked">
    </div>

    <div class="form-group">
      <label for="name">Exit Time</label>
      <input type="text" [(ngModel)]="attend.exit_time" class="form-control" id="exit_time" name="exit_time" placeholder="Enter your Exit time" [disabled]="leaveClicked">
    </div>

    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
  </form>
</div>

